apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: zammad-discord-bot-data
  labels:
    app: zammad-discord-bot
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
